<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.email}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
        </tr>
    </tbody>
  </table>

  <div>
      <p>Check console for post</p>
      <button (click)="postUser()">Http Post</button>
  </div>

  <div>
    <p>Check console for update</p>
    <button (click)="updateUser()">Http Update</button>
</div>

<div>
    <p>Check console for delete</p>
    <button (click)="deleteUser()">Http Delete</button>
</div>